<div class="w-full h-screen flex md:flex-row md:gap-0 bg-neutral-foreground">
  <div class="w-full md:w-1/2 bg-[#313945] items-center justify-center gap-4 hidden md:flex">
    <div class="flex items-center justify-center mx-auto h-full">
      <img src="assets/images/logos/oriontek-white.avif" alt="Logo orion tek" class="max-w-xs" />
    </div>
  </div>

  <div
    class="w-full md:w-1/2 bg-neutral-foreground flex flex-col justify-center items-center px-modal-md"
  >
    <router-outlet></router-outlet>
  </div>
</div>
