<div data-testid="home-page" className="flex flex-col gap-8 @container">
  <div className="grid grid-cols-1 @4xl:grid-cols-[1fr_320px] gap-6 laptop:gap-3 items-start">
    <div className="flex flex-col gap-6 self-start">
      <div data-testid="greeting-section">
        <h2 class="text-2xl text-body-loud font-bold text-gray-950">
          {{ greetingTime }}, {{ user()?.name }}
        </h2>
        <p data-testid="greeting-description" className="text-body font-normal text-gray-500">
          Visualiza las últimas actualizaciones de tu institución.
        </p>
      </div>
    </div>
  </div>
</div>
