<div data-testid="home-page" className="flex flex-col gap-8 @container">
  <div className="grid grid-cols-1 @4xl:grid-cols-[1fr_320px] gap-6 laptop:gap-3 items-start">
    <div className="flex flex-col gap-6 self-start">
      <div data-testid="greeting-section">
        <h2 class="text-2xl text-body-loud font-bold text-gray-950">Empleados</h2>
        <p data-testid="greeting-description" className="text-body font-normal text-gray-500">
          Lista de empleados de tu institución.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="h-full min-h-125 relative mt-8">
  <div
    class="h-full flex flex-col bg-neutral-object border-neutral border-[0.5px] rounded-xl shadow-neutral-md overflow-hidden"
  >
    <div
      class="px-3 py-3 w-full flex gap-2 tablet:flex-wrap tablet:gap-0 tablet:items-center justify-between"
    >
      <div class="flex items-center gap-2">
        <h6 class="text-h6 text-heading" data-testid="table-title">
          Cantidad de empleados ({{ total }})
        </h6>
      </div>
      <div class="flex items-center gap-2">
        <button
          data-slot="button"
          class="font-semibold leading-3xl inline-flex items-center justify-center whitespace-nowrap transition-all outline-none cursor-pointer shadow-neutral-xs border-surface-action-solid bg-surface-action-solid text-on-solid hover:border-surface-action-solid-hover hover:bg-surface-action-solid-hover focus:bg-surface-action-solid-click disabled:bg-neutral-object-accent disabled:text-on-disabled disabled:border-transparent gap-2 px-2 py-1 text-sm h-8 border rounded-lg"
          routerLink="../registrar"
        >
          <span class="hidden md:inline-block">Registrar Empleado</span>
        </button>
      </div>
    </div>

    <employee-list [employees]="data()" />
  </div>
</div>
